@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import "tailwindcss";

@theme {
	--color-zinc-100: #f4f4f5;
	--color-zinc-300: #d4d4d8;
	--color-zinc-400: #a1a1aa;
	--color-zinc-500: #71717a;
	--color-zinc-600: #52525b;
	--color-zinc-700: #3f3f46;
	--color-zinc-800: #27272a;
	--color-zinc-900: #18181b;
	--color-zinc-950: #09090b;
}

body {
	background-color: #09090b;
	color: #f4f4f5;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: 'Space Grotesk', system-ui, sans-serif;
}

::selection {
	background-color: rgba(37, 99, 235, 0.3);
}

.gradient-text {
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
	background-image: linear-gradient(to right, #60a5fa, #6366f1);
}